Package: com.er1csec.fakewechatstep
Name: fakeWechatStep
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Er1cSec
Author: Er1cSec
Section: Tweaks
